<div class="sidebar d-flex flex-column mr-50">
    <button class="btn btn-primary btn-icon-primary ">
        <i class="fa-solid fa-question mr-5"></i>
        <span>Poser une question</span>
    </button>
    <ul class="sidebar-nav py-20">
        <li class="active">
        <i class="fa-solid fa-house mr-5" style="color: #0e5add;"></i>
            Liste des questions
        </li>
         <li>
         <i class="fa-solid fa-person-circle-question mr-5" style="color: #0e5add;"></i>
            Mes questions
        </li>
         <li>
         <i class="fa-solid fa-puzzle-piece mr-5" style="color: #0e5add;"></i>
            Mes réponses
        </li>

    </ul>
</div>